<!DOCTYPE html>
<html lang="en">
<title>LogViewer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
body {font-family: "Lato", sans-serif}
</style>
<body>
<!-- Page content -->
<h3 style="margin-top: 10px; margin-bottom: 10px; text-align: center;">Log content: </h3>
<pre style="width: 100%; border: 2px solid black;"> 
        {{ text }} 
</pre>
<!-- End Page Content -->
</body>
<script>
</script>
</html>
