<!DOCTYPE html>
<html lang="en">
        <head>
                <title>LogViewer</title>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">                        
        </head>        
        <body>                      
                <div class="header" id="myHeader">                        
                        <h1>Simple and light log.io for web-browser</h1>                        
                        <div class="btn-group header">
                                <button type="button" onclick="xhrStop(setIntervalId);alert('Done');">Stop running</button>
                                <button type="button" onClick="window.location.reload(true)">Restart</button>                
                        </div>                       
                </div>                        
                <div class="content">
                        <pre id="output"></pre>
                </div>
        </body>                
        <script type="text/javascript" src="{{ url_for('static',filename='main.js') }}"></script>      
 </html>
